.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* if the buttons should be stacked */
    height: 100vh; /* optional: to take the full viewport height */
}


.inventory{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.market{
    display: none;
}

.sellButtons{
    display: grid;
    grid-template-columns: repeat(3, 72px);
    margin-bottom: 10px;
    left: 50%;
}

.upgrades, .items button{
    display: grid;
    grid-template-columns: repeat(1, 96px);
    margin-bottom: 10px;
    left: 50%  ;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
